.password-container{
    width: 100%;
    background: #101128;
    border-radius: 10px;
    margin-top: 50px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.password-container>h3{
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #D9EAFF;
    padding-top: 35px;
}
.change-password-form{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:20px;
}
.change-password-form>div>h4{
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #D9EAFF;
    margin-top: 30px;
    margin-bottom: 20px;
}
.change-password-form>div>div>label{
    margin:10px 0px;
}
.change-password-form>div:last-child{
    padding-right: 20px;
}