.top-var{
    top:0px;
    position: fixed;
    z-index: 9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(11, 12, 31, 0.726);
    padding:20px;
    height: 100px;
}
.option-container{
    display:flex;
    justify-content:flex-end;
    margin-right: 100px;
}
.option-container>div{
    cursor: pointer;
}

.option-container>div{
    height: 52.88461685180664px;
    width: 55px;
    background: rgba(16, 17, 40, 1);
    border-radius: 15px;
    margin-left: 10px;
}
.notification-icon>img{
    margin-top:8px;
    margin-left: 15.5px;
}
.setting-icon>img{
    margin-top:13px;
    margin-left:14.7px;
}