.link-container{
    width: 100%;
    display: grid;
    grid-template-columns: 50px 40px 160px 50px  ;
    cursor: pointer;
    margin-top: 13px;
}
.link-active{
    position: relative;
    height: 50px;
}
.link-active>img{
    position: absolute;
    top:-3px
}
.link-container>.link-left-side>img{
    width: 16.67px;
    height: 16.67px;
}
.link-container>.link-right-side>a{
    color: aliceblue ;
    text-decoration: none;
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 800;
    font-size: 17px; 
}
.profile-dropdown-menu{
    height: 50px;
    transition:0.5s
}

.profile-dropdown-menu>ul{
    display:none;
    list-style: none;
}
.profile-dropdown-menu>ul>li{
    margin-top: 18px;
}

.profile-dropdown-menu>ul>li{
    display: flex;
}
.profile-dropdown-menu>ul>li>a{
    text-decoration: none;
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: rgba(217, 234, 255, 0.8);
    margin-left: 15px;
}
.profile-dropdown-menu>ul>li>img{
    width: 18px;
    height: 18px;
}